<div class="row">
  <div class="col s12">
    {{#each posts}}      
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="https://i.imgur.com/9komQiX.png">
          <span class="card-title">{{title}}</span>
          <a href="/post/{{postId}}" class="btn-floating halfway-fab waves-effect waves-light deep-orange darken-3"><i class="material-icons">more</i></a>
        </div>
        <div class="card-content">
          <p class="flow-text">Posted by {{User.username}} on {{formattedDate createdAt}}</p>
          <p class="flow-text">{{body}}</p>
        </div>
      </div>
    </div>
  </div>
    {{/each}}
  </div>
</div>