<div class="content">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/9komQiX.png" />
                    <span class="card-title">{{post.title}}</span>
                </div>
                <div class="card-content">
                    <p>Posted by
                        {{post.User.username}}
                        on
                        {{formattedDate post.createdAt}}</p>
                    <p>{{post.body}}</p>
                </div>
                <div class="card-action">
                    <a href="/dashboard/edit/{{postId}}" class="btn-floating deep-orange darken-3 pulse"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>
        </div>
    </div>
    {{#if post.Comments}}
    <section class="row">
        <div class="col s12">
            <blockquote class="h4">
                Comments
            </blockquote>
        </div>
        {{! add comment modal button }}
        <a href="#modal3" class="btn-floating waves-effect waves-light modal-trigger"><i
                class="material-icons">add</i></a>
        {{! add comment modal }}
        <div id="modal3" class="modal">
            <div class="modal-content">
                <form class="col s12 card-panel teal lighten-5" id="comment-form">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="hidden" name="post-id" value="{{post.id}}" />
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">mode_edit</i>
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Post body:</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" name="action" id="comment-button" class="modal-close waves-effect waves-blue btn-flat">Submit Comment</button>
            </div>
        </div>
        {{#each post.Comments}}
        <div class="col s12 m6">
            <div class="card-panel">
                <span class="h5">{{User.username}}, {{formattedDate createdAt}}</span>
                <span class="flow-text">{{body}}
                </span>
            </div>
        </div>
        {{/each}}
    </section>
    {{/if}}
</div>

<script src="/js/comment.js"></script>